body {
  margin: 0
}

.App {
  display: flex;
  height: 80vh;
  margin: 30px 10%;
  padding: 2% 3%;
/*   border: 1px solid rgb(223, 219, 219); */
}

.leaflet-container {
  flex: 1;
}

.markers {
  max-width: 40%;
  min-width: 10%;
  overflow: auto;
  resize: horizontal;
}

td {
  padding-right: 20px;
}

tr {
  margin: 10px
}

.leaflet-control-container {
  display: none;
}

.active {
  background-color: aqua;
}
